composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/app/database/IN.sqlite
/app/config/app.php
/app/config/database.php
/app/config/mail.php
.git-ftp-tmp
IN.sqlite.2
Intempesta Noctis_ iscritti in tempo.pdf
analisi_missive.py
analisi_missive_network.py
app/controllers/.gitkeep:Zone.Identifier
app/controllers/AbilitaController.php:Zone.Identifier
app/database/IN.zip
app/database/INbck.sqbpro
app/routes.php:Zone.Identifier
app/views/account.blade.php:Zone.Identifier
app/views/account_noevento.blade.php:Zone.Identifier
app/views/layouts/menu.blade.php:Zone.Identifier
bootstrap/
get_database.sh
minimal_changes_from_old_site.txt
public/.htaccess:Zone.Identifier
public/favicon.ico:Zone.Identifier
public/files/tomo_della_economia_4_2.pdf
public/files/tomo_delle_regole_5.0.pdf
public/index.php:Zone.Identifier
public/js/marked.min.js:Zone.Identifier
public/podcastfolder/
public/prova.html:Zone.Identifier
public/robots.txt:Zone.Identifier
push_to_boruit.sh
test.py
vendor.zip
vendor/