
header{
	text-align: center;
}

p{
	text-align: left;
}

back{
	text-align: left;
}

article h4{
	font-family: 'Italianno', cursive;
	font-size: 2.5em;  
	line-height: 0.5em;  
	margin-top:18px;
	text-align: center;
}

article h3{
	font-size: 1.5em;  
	line-height: 0.5em;  
	margin-top:15px;
	text-align: center;
}

.oggetto {
	float: left;
	padding: 15px;
	border: 2px solid black;
	height: 100px;
	width:  200px;
	
}

.retro {
	float: left;
	padding: 5px;
	border: 2px solid black;
	height: 100px;
	width:  200px;
	text-align: center;
	overflow-y: hidden;
}




