
header{
	text-align: center;
}
footer{
	text-align: left;
	font-size: 0.9em;
}

p{
	text-align: left;
}

back{
	text-align: left;
}

article h4{
	font-family: 'Italianno', cursive;
	font-size: 2.1em;  
	line-height: 0.7em;  
	margin-top:16px;
	text-align: center;
}

article h3{
	font-size: 1.3em;  
	line-height: 0.5em;  
	margin-top:16px;
	text-align: center;
}

.oggetto {
	float: left;
	padding: 15px;
	border: 2px solid black;
	height: 100px;
	width:  25%;
	
}

.pergamena {
	float: left;
	padding: 15px;
	border: 2px solid black;
	width:  50%;
	
}

.pergamena h4{
	font-size: 2.4em; 
	margin-top: 1em; 
	margin-bottom: 1em;
}
.pergamena h3{
	font-family: 'Italianno', cursive; 
	font-size: 1.8em;   
}

.pergamena header{
	margin: 2em;
}
.pergamena footer{
	margin-top: 2em;
}
.retro {
	float: left;
	padding: 15px;
	border: 2px solid black;
	height: 100px;
	width:  25%;
	text-align: center;
	overflow-y: hidden;
}




