@font-face {
    font-family: 'Tangerine', cursive;

}

article{
	font-family: 'Tangerine', cursive;
}

header{
	text-align: right;
}

footer{
	text-align: right;
}

footer img{
	position: absolute;
	right: 120px;
}

article h5{
	font-family: 'Tangerine', cursive;
	font-size: 160%;  
	line-height: 50%;  
}

article h4{
	font-family: 'Tangerine', cursive;
	font-size: 200%;  
	line-height: 80%;  
}


article p{
	font-family: 'Tangerine', cursive;
	font-size: 160%;  
	line-height: 160%;  

}



