#png-sidebar{
position:absolute; 
top:100px; 
left:0px; 
width:10%; 
min-width:220px; 
padding-left:20px; 
padding-right:20px; 
background-color:#fff; 
height:70%; 
overflow-y: auto; 
overflow-x: hidden;
}

#png-sidebar-remnant{
position:absolute; 
top:400px; 
left:0px; 
width:300px;  
background-color:#fff;
color: #aaa; 
transform: rotate(-90deg);
transform-origin: 0px 0px;
float: left;

}

#schedule{
}
#schedule .clear{ clear:both; height: 0; line-height: 0;}
#schedule .sc_wrapper{
}
#schedule .sc_menu{
	width:100%;
	height:26px;
}
#schedule .sc_menu .sc_header_cell{
	float:left;
}
#schedule .sc_menu .sc_header{
	float:left;
	height:26px;
	position:relative;
	overflow:hidden;
}
#schedule .sc_menu .sc_header .sc_time{
	text-align:center;
	border-left:solid 1px #FFF;
	background:#333;
	height: 30px;
}
#schedule .sc_menu .sc_header_cell,
#schedule .sc_data{
	float:left;
	font-weight:bold;
	color:#FFFFFF;
	position:relative;
}
#schedule .sc_menu .sc_header_scroll,
#schedule .sc_data .sc_data_scroll{
	position:absolute;
	left:0;
	top:0;
}
#schedule .sc_menu .sc_header_cell,
#schedule .sc_header .sc_time,
#schedule .sc_main_scroll .sc_time{
	color:#FFFFFF;
	padding:4px 0;
	line-height:18px;
	height:18px;
	display:block;
}
#schedule .sc_header .sc_time,
#schedule .sc_main_scroll .sc_time{
	float:left;
}
#schedule .sc_main_box,
#schedule .sc_data{
	max-height:500px;
	overflow:hidden;
}
#schedule .sc_main_box{
	float:left;
	overflow-x:auto;
	overflow-y:auto;
}
#schedule .sc_main_scroll{
}
#schedule .sc_main{
	position:relative;
}
#schedule .timeline{
	position:relative;
}
#schedule .sc_Bar{
	position:absolute;
	color:#FFF;
	background:#95A5A6;
	cursor:pointer;
	z-index:10;
	box-shadow: 2px 2px 4px #333;
	-moz-box-shadow: 2px 2px 4px #333;
	-webkit-box-shadow: 2px 2px 4px #333;
}
#schedule .ui-draggable-dragging,
#schedule .ui-resizeable{
	z-index:20;
}
#schedule .sc_Bar .head{
	display:block;
	padding:6px 8px 0;
	font-size:12px;
	height:18px;
	overflow:hidden;
}
#schedule .sc_Bar .text{
	display:block;
	padding:5px 15px 0;
	font-weight:bold;
	height:20px;
	overflow:hidden;
}
#schedule .timeline,
#schedule .sc_main .tb{
	border-bottom:solid 2px #666;
}
#schedule .sc_data .timeline{
	overflow:hidden;
}
#schedule .sc_data .timeline span{
	padding:10px;
	display:block;
}
#schedule .sc_data .timeline span.photo{
	float:left;
	width:36px;
	height:36px;
	padding:10px 0 10px 10px;
}
#schedule .sc_data .timeline span.title{
	float:left;
	padding:10px 0 10px 10px;
	width:90px;
}
#schedule .sc_main_scroll .sc_main{
}
#schedule .sc_main_scroll .sc_main .tl{
	float:left;
	height:100%;
	border-right:solid 1px #CCC;
}
#schedule .sc_main_scroll .sc_main .tl:hover{
	background:#F0F0F0;
}


/*######## FORM DI EDITING ###########################################*/
.apri{ font-size:18px; font-family:Verdana, Geneva, sans-serif; float:right; margin-right:50px;}
.chiudi{ font-size:18px; color:#000; font-weight:bold; position:absolute; right:2%; top:0%;  cursor:pointer;}
.overlay{
    background:#000;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
    cursor:pointer;
/*Trasperenza cross browser*/
opacity: .7; filter: alpha(opacity=70);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";   
 
}
 
.box{ 	
	width: 90%;
	max-width: 1024px;
	min-height:400px;
	background-color:#FFF; 
	display:none; 
	z-index:+300; 
	position:absolute; 
	margin: 0 auto ; 
	top:100px; 
	-moz-border-radius: 15px;  
	-webkit-border-radius: 15px;
	border-radius: 15px; 
	padding:10px;
}
